.footer {
  height: 6rem;
  background-color: #151515;
  display: flex;

  p {
    color: lightgray;
  }

  &-left {
    margin: auto;
    margin-left: 6%;
    justify-self: left;
    &-awesomity {
      margin: auto;
      text-align: center;
      span {
        color: white;
        font-weight: 600;
      }
    }
  }

  &-right {
    justify-self: right;
    margin:auto;
    margin-right: 16%;
    &-name {
      margin: auto;
      text-align: center;
      

      span {
        font-weight: 600;
        color: #ff6000;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    p, span {
      text-align: center;
    }
    &-left {
      &-awesomity {
        width: auto;
        margin-left: 1%;
      }
    }
    &-right {
      &-name {
        width: auto;
        padding: 0rem;
        margin-right: 1%;
      }
    }
  }
}
