.footer {
  height: 6rem;
  background-color: #151515;
  display: flex;
  //grid-template-columns: 30% 70%;

  p {
    color: lightgray;
  }

  &-right {
    width: 30%;
    align-self: center;
    &-awesomity {
      margin: auto;
      text-align: center;
      span {
        color: white;
        font-weight: 600;
      }
    }
  }

  &-left {
    width: 70%;
    align-self: center;
    &-name {
      padding:2rem;
      width: 37rem;
      text-align: end;
      margin:auto;
      justify-self: end;

      span {
        font-weight: 600;
        color: #ff6000;
      }
    }
  }
}
