.footer {
  height: 6rem;
  background-color: #151515;
  display: grid;
  grid-template-columns: 30% 70%;

  p {
    color: lightgray;
  }

  &-awesomity {
    margin: auto auto auto 28%;
    grid-column: 1;
    span {
      color: white;
      font-weight: 600;
    }
  }

  &-name {
    margin: auto 28% auto auto;
    grid-column: 2;
    justify-self: end;
    span {
      font-weight: 600;
      color: #ff6000;
    }
  }
}
