.body {
  padding: 0.7rem;
  background-color: white;
  width: min-content;
  border-radius: 4px;
  margin: auto;
  
  
  &-food {
    height: 12rem;
  }

  &-info {
    display: grid;
    height: 4rem;
    column-gap: 1rem;
    grid-template-rows: 50% 50%;
    grid-template-columns: 20% 70%;
    flex-direction: row;

    &-restaurantLogo {
      grid-row: 1 / 2 span;
      height: 2.7rem;
      margin: auto;
      align-content: center;
    }

    &-restaurantName {
      grid-row: 1;
      grid-column: 2;
      font-size: 1em;
      margin: auto 0.1rem;
      font-weight: 600;
      
    }

    &-bottom {
      grid-row: 2;
      grid-column: 2;
      display: flex;
      flex-direction: row;
      color: gray;

      &-currency {
        width: auto;
        margin: auto 0.1rem;
      }

      &-divider {
        width: auto;
        margin: auto 0.1rem;
      }

      &-location {
        margin: auto 0.1rem;
      }
    }
  }
}
