.l-container{
    background: #f5fafc;
    &-restaurants {
        &-header {
            width: 100%;
            text-align: center;
            margin: 2rem auto;
            font: 600 3em 'Anton';
        }
        padding: 3rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}