.l-container {
  &-search {
    display: flex;
    height: 25rem;
    // grid-template-rows: 50% 20%;
    flex-direction: column;
    padding-bottom: 4rem;

    &-header {
      margin: 2rem auto;
      font-weight: 600;
      font-size: 4em;
    }
    &-searchBox {
      grid-row: 2;
      margin: auto;
      display: grid;
      width: 100%;

      &-input {
        transition: all 0.3s ease-out;
        grid-column: 1;
        grid-row: 1;
        height: 3rem;
        margin: 2rem auto;
        width: 90%;
        border-style: none;
        padding-left: 1rem;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
      }

      &-input:hover {
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
      }

      &-icon {
        grid-column: 1;
        grid-row: 1;
        margin: auto 10% auto auto;
        z-index: 0;
      }
    }
  }

  &-restaurants {
    background: #f5fafc;
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 10rem;
    display:flex;
    flex-direction: column;

    &-header {
      width: 100%;
      text-align: center;
      margin: 2rem auto;
      font-weight: 600;
      font-size: 3em;
    }

    &-container {
      justify-content: center;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      > div {
        margin: 1.5rem 1.5rem auto 1.5rem;
      }
    }
    &-button {
      width: 10rem;
      margin: auto;
      margin-top: 4rem;
      border-style: none;
      padding: 0.5rem 2rem;
      background-color: #ff6000;
      cursor: pointer;
      color: white;
      font-weight: 600;
      font-size: 0.9em;
    }
  }
}

@media (max-width: 500px) {
  .l-container {
    &-search {
      &-header {
        font-size: 2em;
      }
    }
  }
}
