@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
body {
  margin: 0;
  font-family: 'Secular One';
}

h1,
h2,
h3,
h4 {
  font-family: 'Secular One';
}

.nav {
  height: 3rem;
  background-color: white;
  display: flex;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  justify-content: space-between;

  &-links {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 8%;
    
    &-link {
      margin: auto 0.7rem auto 0.7rem;
      color:#939393;
      padding: 0.7rem;
    }

    &-link:active {
      color: #ff6000
    }

    &-link:hover {
      color: #ff6000
    }

    &-link:visited {
      color: #ff6000
    }

    &-signup {
      p {
        color: white;
      }
      background-color: #ff6000;
      border-radius: 3px;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &-vl {
      border-left: 2px solid black;
      height: 1rem;
      margin: auto 0rem auto 0rem;
    }
  }

  a {
    text-decoration: none;
  }

  &-logo {
    margin: auto;
    margin-left: 8%;
    padding: 0.7rem;
    &-image {
      height: 1.1rem;
    }
  }
}
