@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
body {
  margin: 0;
  font-family: 'Secular One';
  box-sizing: border-box;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    
  }
}
p,
span,
h1,
h2,
h3,
h4 {
  font-family: 'Secular One';
}

// @media (min-width: 400px) {
//   .nav-logo {
//     margin-left: auto;

//   }
// }



.nav {
  // height: 3rem;
  // background-color: white;
  // display: flex;
  // margin-top: 1.3rem;
  // margin-bottom: 1.3rem;
  // justify-content: space-between;
  // flex-wrap: wrap;
  // justify-content: center;

  &-links {
    p {
      text-align: center;
    }
    // display: flex;
    // flex-direction: row;
    // margin: auto;

    margin-left: 55%;

    justify-self: right;

    &-link {
      margin: auto 0.7rem auto 0.7rem;
      color: #939393;
      // padding: 0.7rem;
    }

    &-link:active {
      color: #ff6000
    }

    &-link:hover {
      color: #ff6000
    }

    &-link:visited {
      color: #ff6000
    }

    &-signup {
      p {
        color: white;
        text-align: center;
      }
      background-color: #ff6000;
      border-radius: 3px;
      padding: 0.1rem 1.5rem;
    }

    &-vl {
      border-left: 2px solid black;
      height: 1rem;
      margin: auto ;
    }
  }

  &-logo {
    margin: auto;
    margin-left: 8%;
    &-image {
      height: 1.1rem;
    }
  }
}
