@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Secular One';
}

.nav {
  height: 3rem;
  background-color: white;
  display: flex;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;

  &-signup {
    p {
      color: white;
    }
    background-color: #ff6000;
    border-radius: 3px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  a {
    text-decoration: none;
  }

  &-logo {
    margin: auto 50% auto 8%;
    // padding: 1rem;
    height: 1.2rem;
    width: auto;
  }

  &-link {
    margin: auto 0.7rem auto 0.7rem;
    color: #3b3b3b;
    padding: 0.7rem;
  }

  &-vl {
    border-left: 2px solid black;
    height: 1rem;
    margin: auto 0rem auto 0rem;
  }
}
