.react-tabs__tab {
  display: block;
  padding: 1rem 1.5rem;
  color: #929292;

  &-list {
    display: flex;
  }

  &--selected {
    border: none;
    color: #ff6000;
    border-bottom: solid 3px #ff6000;
  }
}

.d-container {
  &-top {
    height: 20rem;
    display: grid;
    column-gap: 0.1rem;
    background-color: #ff6000;
    grid-template-columns: 15% 60%;
    background-position: right;
    background-image: url(../../../assets/resto_bg.png);
    background-size: contain;
    background-repeat: no-repeat;

    &-restaurantLogo {
      grid-row: 1 / 2 span;
      height: 7.5rem;
      margin: auto;
      align-content: flex-end;
    }

    &-right {
      grid-row: 1 / 2 span;
      display: flex;
      flex-direction: column;
      align-self: center;
      margin: auto;
      width: 100%;
      &-name {
        margin: auto 0rem;
        font-weight: 900;
        color: white;
        font-size: 3em;
      }
      &-location {
        color: white;
        font-size: 1.3em;
        font-weight: 500;
        margin-top: -0.1rem;
        text-align: start;
      }
    }
  }

  &-bottom {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5fafc;
    padding-bottom: 15rem;
    &-left {
      background-color: white;
      width: 40%;
      padding: 1rem;
      margin: 5rem 0.75rem auto 10rem;
      border-radius: 4px;

      &-tabs {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 1.5rem;
        h3 {
          grid-column: 1;
        }

        p {
          grid-column: 2;
        }
      }
    }

    &-right {
      width: 40%;
      background-color: white;
      padding: 3rem;
      margin: 5rem auto auto 0.75rem;
      border-radius: 4px;

      h2 {
        font-size: 2em;
      }
      &-header {
        color: #ff6000;
        margin-top: -1.5rem;
      }

      &-breakfast {
        &-products {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.rating {
  display: grid;
  padding: 1rem;
  grid-template-rows: 50% 50%;
  grid-template-columns: 20% 80%;

  &-image {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    background-color: black;
    margin: auto;
  }

  &-reviewer {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;

    &-name {
      font-weight: 600;
      margin-bottom: 0.1rem;
      text-align: start;
    }

    &-stars {
      text-align: start;
      margin-top: 0.1rem;
      color: #ff6000;
    }
  }

  &-review {
    grid-row: 2;
    grid-column: 2;
    text-align: start;
  }
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-name {
    font-weight: 600;
    font-size: 1.1em;
  }

  &-price {
    font-weight: 600;
    font-size: 1.1em;
    color: #ff6000;
  }
}

@media (max-width: 500px) {
  .rating {
    display: grid;
    column-gap: 1rem;
    padding: 1rem;
    grid-template-rows: 50% 50%;
    grid-template-columns: 20% 80%;

    &-image {
      height: 3rem;
      width: 3rem;
      border-radius: 100%;
      background-color: black;
      margin: auto;
    }

    &-reviewer {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      flex-direction: column;
      &-name {
        font-weight: 600;
        margin-bottom: 0.1rem;
      }
      &-stars {
        margin-top: 0.1rem;
        color: #ff6000;
      }
    }
  }
  .d-container {
    &-top {
      height: auto;
      background-image: none;
      display: flex;
      flex-direction: column;
      p,
      h1 {
        text-align: center;
      }
      &-restaurantLogo {
        box-sizing: content-box;
        margin: 4rem auto;
        height: 6rem;
      }
      &-right {
        margin-bottom: 4rem;
      }
    }
    &-bottom {
      &-left {
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
        &-tabs {
          h3 {
            font-size: 1.3em;
          }
        }
      }

      &-right {
        width: 100%;
        margin: auto;
      }
    }
  }
}
